.phase {
  margin: 3em 0 0;
  font-size: 1em;
}

.backtotop {
  text-decoration: none;
  font-size: .6em;
  cursor: pointer;
}

.tools  {
  display: flex;
  flex-flow: row wrap;
}
.text {
  justify-content: space-between;
}
.images {
  justify-content: space-around;
}
.tools img {
  max-width: 300px;
  max-height: 100px;
  margin: 30px 0;
}
.tools a::after{
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  background-image: url(../../assets/images/external-link.svg);
  background-size: 12px;
  width: 12px;
  height: 20px;
  margin-top: 7px;
  margin-left: 3px;
  vertical-align: text-top;
}