body {
  margin: 0;
}
body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

body::-webkit-scrollbar-track {
  background: #000; 
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #81d7da; 
}
body::-webkit-scrollbar-thumb:active {
  background: #5f9ea0; 
}
::selection {
  color: #81d7da;
  background: #12393a;
}

#techNav {
  position: fixed;
  width: 30%;
  min-width: 250px;
  background: #f3f2f2;
  z-index: 1;
  bottom: -92px;
  right: 30px;
  transition: 400ms;
  transition-property: bottom;
  padding: 0.6em;
  border: 2px solid #5f9ea0;
  opacity: .7;
}
@media (min-width: 1023px) {
  #techNav {
    bottom: -75px;
  }
}
#techNav:hover {
  bottom: 0;
  opacity: 1;
}
#techNav h1 {
  margin: .2em 0;
}
#switch {
  display: inline-block;
}
#switch .active {
  background-color: #232323;
  color: #f3f2f2;
  padding: 0 .6em;
  text-decoration: none;
}