@media print {
  #tech.onPrint {
    display: flex !important;
  }
  .visibleOnPrint {
    display: block !important;
  }
  .hiddenOnPrint {
    display: none !important;
  }

  #profile.onPrint {
    position: unset !important;
    width: 20vw !important;
    min-width: 300px !important;
    height: unset !important;
  }
  #techPic.onPrint {
    width: 10vmax;
    height: 10vmax;
  }

  #codeBlocks.onPrint {
    width: 80vw !important;
    margin-left: 0 !important;
  }
}