@media print {
  #app {
    display: flex !important;
  }
  .visibleOnPrint {
    display: block !important;
  } 

  #profile.onPrint {
    position: initial !important;
    width: 20vw !important;
    min-width: 300px !important;
    height: unset !important;
  }

  #codeBlocks.onPrint {
    width: 80vw !important;
    margin-left: 0 !important;
  }
}